<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      Teacherplan
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/plan_comments" class="dropdown-item">
              Plan Comments
            </a>
            <a href="/goals_comments" class="dropdown-item">
              Goals Comments
            </a>
            <a href="/action_steps" class="dropdown-item">
              Action Steps
            </a>
            <a href="/goals" class="dropdown-item">
              Goals
            </a>
            <a href="/invites" class="dropdown-item">
              Invites
            </a>
            <a href="/improvement_plans" class="dropdown-item">
              Improvement Plans
            </a>
            <a href="/teachers" class="dropdown-item">
              Teachers
            </a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if current_teacher.blank? %>
          <li class="nav-item">
            <a href="/teachers/sign_in" class="nav-link">
              Sign in
            </a>
          </li>

          <li class="nav-item">
            <a href="/teachers/sign_up" class="nav-link">
              Sign up
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="/teachers/edit" class="nav-link">
              Edit profile
            </a>
          </li>

          <li class="nav-item">
            <a href="/teachers/sign_out" data-method="delete" class="nav-link">
              Sign out
            </a>
          </li>
        <% end %>
      </ul>
</nav>
