<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Plan Comments

    <a data-toggle="collapse" href="#improvement_plan_plan_comments_new_form">
      Add plan comment
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @improvement_plan.plan_comments.each do |plan_comment| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to plan_comment, plan_comment %>

        <%= link_to plan_comment, method: :delete, data: { confirm: "Do you really want to delete this plan_comment" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="improvement_plan_plan_comments_new_form">
        <%= render partial: "improvement_plans/improvement_plan_plan_comments_new_form" %>
      </div>
    </div>

  </ul>
</div>
