<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @improvement_plan, partial: "card", as: :improvement_plan %>
  </div>
</div>

  <!-- Show Page Customization starts -->

  <!-- Show Page Customization end -->
