<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @teacher, partial: "card", as: :teacher %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "teachers/teacher_improvement_plans" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "teachers/teacher_invites" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "teachers/teacher_improvement_plan_assignments" %>
  </div>
</div>
  <!-- Show Page Customization end -->
